/* GLOBAL STYLES */
h3 {
  color: black;
}
/* END of GLOBAL styles */

/* HEADER styles */
#Search-Title {
  color: cornflowerblue;
}
/* END of HEADER styles */

/* RESULTS styles */
.contrast {
  background-color: rgb(176, 228, 245);
}


/* END of RESULTS */